//collors
$backgroundColor: rgb(236, 236, 236);
$backgroundColor-Card: rgb(255, 255, 255);
//---------
$backgroundColor: rgb(32, 32, 32);
$backgroundColor-Card: rgb(52, 52, 52);
//collors

$padding: 5px;
